- hosts: all
  become: true
  tasks:
    - name: Add mattias user
      ansible.builtin.user:
        name: mattias
        comment: Mattias Svensson
      register: mattias_user_registered
    - name: Set authorized_keys for mattias user
      ansible.posix.authorized_key:
        user: mattias
        state: present
        key: "{{ item }}"
      with_file:
        - public_keys/1password.pub
    - name: mattias user sudo no pwd
      ansible.builtin.lineinfile:
        path: /etc/sudoers.d/nopassword
        line: mattias ALL=(ALL) NOPASSWD:ALL
        create: true
        owner: root
        mode: 0644
        state: present
    - name: install acl
      package:
        name: acl

    - name: install pip3
      package:
        name:
          - python3-pip
          - python3-dev

    - name: install 1password cli
      when: ansible_distribution == 'Ubuntu' and
        ansible_architecture == 'x86_64'
      block:
        - name: Get architecture
          command: dpkg --print-architecture
          register: deb_architecture
          changed_when: false
        - name: Install key
          shell:
            cmd: curl -sS https://downloads.1password.com/linux/keys/1password.asc | sudo gpg --dearmor --output /etc/apt/keyrings/1password.gpg
            creates: /etc/apt/keyrings/1password.gpg
        - name: Add repository
          ansible.builtin.apt_repository:
            filename: 1password
            repo: deb [arch={{ deb_architecture.stdout }} signed-by=/etc/apt/keyrings/1password.gpg] https://downloads.1password.com/linux/debian/{{ deb_architecture.stdout }} stable main
        - name: Apt update
          ansible.builtin.command: apt update
          changed_when: false
        - name: Install 1password-cli
          package:
            name:
              - 1password-cli

    - name: setup rsyslog
      copy:
        src: "05-graylog.conf"
        dest: "/etc/rsyslog.d/05-graylog.conf"
        mode: "u=rw,go=r"
      notify: rsyslog

    - name: setup nut
      when: nut_server is defined and
        nut_server
      block:
        - name: nut package
          package:
            name: nut
            state: present
        - name: netserver mode
          ansible.builtin.lineinfile:
            path: /etc/nut/nut.conf
            line: MODE=netserver
            state: present
            regexp: "^MODE="
        - name: setup ups
          ansible.builtin.blockinfile:
            path: /etc/nut/ups.conf
            block: |
              [ups]
                driver = usbhid-ups
                port = auto
                desc = "Server UPS"
        - name: setup users
          ansible.builtin.blockinfile:
            path: /etc/nut/upsd.users
            block: |
              [monuser]
                password = secret
                upsmon slave

              [mainuser]
                password = secret2
                upsmon master
        - name: setup upsmon.conf
          ansible.builtin.lineinfile:
            path: /etc/nut/upsmon.conf
            line: MONITOR ups@localhost 1 mainuser secret2 master
            state: present
        - name: setup upsd.conf
          ansible.builtin.blockinfile:
            path: /etc/nut/upsd.conf
            block: |
              LISTEN 0.0.0.0
        - name: copy udev rule
          ansible.builtin.copy:
            src: /lib/udev/rules.d/62-nut-usbups.rules
            dest: /etc/udev/rules.d
            remote_src: true
          register: result
        - name: reload udev rules
          when: result is changed
          shell:
            cmd: "udevadm control --reload-rules && udevadm trigger"
        - name: enable nut-server
          systemd:
            name: nut-server
            state: started
            enabled: true
        - name: enable nut-monitor
          systemd:
            name: nut-monitor
            state: started
            enabled: true
    
    - name: install packages
      when: packages is defined
      package:
        name: "{{ packages }}"
    - name: install snaps
      when: snaps is defined
      community.general.snap:
        name: "{{ snaps }}"
    - name: install classic snaps
      when: classic_snaps is defined
      community.general.snap:
        name: "{{ item }}"
        classic: true
      loop: "{{ classic_snaps }}"
    - name: Setup netplan
      when: netplan_enabled is defined and netplan_enabled
      become: true
      import_role:
        name: mrlesmithjr.netplan

  handlers:
    - name: reboot
      reboot:
    - name: rsyslog
      service:
        name: rsyslog
        state: restarted
    - name: watchdog
      service:
        name: watchdog
        state: restarted
