[defaults]
pipelining=True
roles_path = ./roles:../roles
inventory = ./inventory
fact_caching_connection = .cache
fact_caching = jsonfile
fact_caching_timeout = 3600

[inventory]
cache = True
cache_connection = .cache
cache_plugin = jsonfile
cache_timeout = 3600