#!/bin/sh
# Certbot runs every script in renewal-hooks/deploy/ after a successful
# renewal. This refreshes mosquitto's local, readable copy of the cert/key
# and restarts it to pick up the new material.
set -e

install -o mosquitto -g mosquitto -m 0644 "{{ mosquitto_letsencrypt_dir }}/fullchain.pem" "{{ mosquitto_cert_dir }}/fullchain.pem"
install -o mosquitto -g mosquitto -m 0640 "{{ mosquitto_letsencrypt_dir }}/privkey.pem" "{{ mosquitto_cert_dir }}/privkey.pem"
systemctl restart {{ mosquitto_service }}
